@media screen and (min-width: 430px){
    .cube{
        --size: 165px;
    }
}

@media screen and (min-width: 530px){
    .cube{
        --size: 175px;
    }
}

@media screen and (min-width: 630px){
    .cube{
        --size: 200px;
    }
}

@media screen and (min-width: 830px){
    .cube{
        --size: 225px;
    }

    
}