*{
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust:none;
  font-size-adjust: none;
  padding: 0;margin: 0;
}
:root{
  --colorBg : #121212;
  --colorBs : #252525;
  --colorTx : #d4d4d4;
  --colorTs : #76ff61;
  --colorCr : #6c4fff;
}

body{
  background:var(--colorBg);
  overflow: hidden;
}
@keyframes slowdisappearance {
  0%{ opacity: 100%; }
  100%{ opacity: 0%; }
}

.login {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: var(--colorBg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; 
}

.login-content {
  text-align: center;
  color: var(--colorTx);
}

.title {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  color: var(--colorTx);
  text-transform: uppercase;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#maxScore {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--colorTx);
  margin-bottom: 1rem;
  text-align: center;
}

.home_button {
  align-self: center;
  background-color: var(--colorTx);
  color: var(--colorBg);
  border: 2px solid var(--colorTx);
  border-radius: 1.5em;
  font-size: 1.3rem; 
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 0.8rem 4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(170, 170, 170, 0.309); 
}

.game-ui {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5px;
  
  display: flex;
  justify-content: space-between; 
  align-items: center;            

  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--colorTx);        
  transition: color 0.5s ease;  
}

#score {
  font-weight: 300;
}

.score-label {
  font-weight: 700;   
  opacity: 0.8;
}



.game{
  background-color: var(--colorBg);
  height: 32rem;
  width: 90%;
  margin-left: 5%;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--colorTx);
  transition: border-color 0.5s ease;
}

#character{
  height: 2rem;
  width:2rem;
  position: relative;top: 27.75rem;
  left: 3rem;
  background-color: var(--colorTx);
  transition: background-color 0.5s ease;
}

.block{
  width: 100%;
  height: 20px;
  background-color:var(--colorTx);
  position: relative;
  top: 100px;
  margin-top: -20px;
  transition: background-color 0.5s ease;
}

.hole{
  width: 40px;
  height: 20px;
  background-color: var(--colorBg);
  opacity: 50%;
  position: relative;
  top: 100px;
  margin-top: -20px;
}

#gameButtonRight{
  position:fixed;bottom: 0px;right: 0px;
  height: 30%;
  width: 50%;
  background: var(--colorBg);
  border: 0px;
  outline:none;
  color: var(--colorTx);
  font-size: 4.1rem;
}

#gameButtonLeft{
  width: 50%;
  position:fixed;bottom: 0px;left: 0px;
  height: 30%;
  background: var(--colorBg);
  border: 0px;
  outline:none;
  color: var(--colorTx);
  font-size: 4.1rem;
}
